---
layout: default
description: Matthews Tire™ is the Fox River Valley’s best source for tires and auto service. Customers in Green Bay, Appleton, Fond du Lac & Waupaca trust Matthews Tire.
---

<div class="jumbotron" id="video_container">
  <div id="text">
    <img src="/img/matthews-tire-logo.png" alt="Matthews Tire">
    <h1>We Keep <span>Y</span>ou <span>R</span>olling<span>.</span><span class="trademark">™</span></h1>
    <div class="buttonWrap">
      <a href="/tires/" class="btn btn-primary heroButton">Find Tires</a>
      <a href="/locations/" class="btn btn-primary heroButton">Service Quote</a>
    </div>
  </div>
  <div class="container hidden-xs">
    <a href="/promotions" class="btn btn-primary"><span class="fa fa-tachometer"></span> Promotions</a>
    <a href="#" data-toggle="modal" role="button" data-target="#contactModal" class="btn btn-primary"><span class="fa fa-phone"></span> Contact a Location</a>
    <a href="http://www.surveymonkey.com/s/MatthewsTire-2013" class="btn btn-primary" target="_blank"><span class="fa fa-comment"></span>Give Feedback</a>
  </div>
  <div id="cover_all"></div>
  <div id="main-image"></div>
  <div id="wistia_ewr6vwpzzq" class="wistia_embed backgroundVideo"></div>
</div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="glyphicon glyphicon-remove btn btn-primary btn-close" data-dismiss="modal"></button>
      </div>
      {% include locations-loop.html %}
    </div>
  </div>
</div>

<section class="after-jumbo">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="visible-xs">
          <a href="/locations/" class="btn btn-primary heroButton">Service Quote</a>
          <a href="/tires/" class="btn btn-primary heroButton">Find Tires</a>
          <a href="/promotions/" class="btn btn-primary heroButton">Promotions</a>
          <a href="/locations/" class="btn btn-primary heroButton">Locations and Hours</a>
        </div>
        <h1>Tires and Full Service Auto Repair&nbsp;...</h1>
        <p>Matthews Tire™ is a locally owned tire and auto repair center known for providing great service, value and a <em>no excuses</em> satisfaction policy since 1952.</p>
        <p>At Matthews Tire we strive to be your first choice for tires. With our wide selection and expert installation you can feel confident in your new tires. What’s more, Matthews Tire’s trained and certified technicians use only high quality parts to perform auto repair or service on almost all domestic or import vehicles.</p>
        <p>Top tires, great service and an unmatched commitment to our customers … that’s how Matthews Tire keeps you rolling!</p>
      </div>
      <div class="col-sm-6">
        <img src="/img/collage.jpg">
      </div>
    </div>
  </div>
  <!--
  <h1>Tire search</h1>
  <iframe id="frameWidget" width="600px" height="205px" scrolling="no" data-url="http://matthewstire.tiresanytime.com" data-dealer="09D70EE4-A08A-40F0-BF0A-AE2944C7B755"></iframe>-->
</section>

<section class="section-inverse-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 center-block">
        <h1>Testimonials</h1>
        <p>Don’t take our word for it. Hear what our satisfied customers have to say ...</p>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="video-thumbnail" data-toggle="modal" data-target="#testimonialModal">
          <img class="img-circle" src="/img/testimonial-1.jpg">
          <div class="play-button">
            <div class="rectangle vertical-center">
              <div class="triangle vertical-center"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="video-thumbnail" data-toggle="modal" data-target="#testimonialModal1">
          <img class="img-circle" src="/img/testimonial-3.jpg">
          <div class="play-button">
            <div class="rectangle vertical-center">
              <div class="triangle vertical-center"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="video-thumbnail" data-toggle="modal" data-target="#testimonialModal2">
          <img class="img-circle" src="/img/testimonial-2.jpg">
          <div class="play-button">
            <div class="rectangle vertical-center">
              <div class="triangle vertical-center"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-6">
        <div class="video-thumbnail" data-toggle="modal" data-target="#testimonialModal3">
          <img class="img-circle" src="/img/testimonial-4.jpg">
          <div class="play-button">
            <div class="rectangle">
              <div class="triangle vertical-center"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5 center-block">
      <a href="/stories" class="btn btn-primary btn-wide">More Matthews Tire Stories</a>
    </div>
    <div class="col-sm-5 center-block">
      <a href="/locations" class="btn btn-secondary btn-wide">Read Customer Reviews</a>
    </div>
  </div>
</section>

<div class="modal fade" id="testimonialModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="glyphicon glyphicon-remove btn btn-primary btn-close" data-dismiss="modal"></button>
      </div>
      <div id="player"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="testimonialModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="glyphicon glyphicon-remove btn btn-primary btn-close" data-dismiss="modal"></button>
      </div>
      <div id="player1"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="testimonialModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="glyphicon glyphicon-remove btn btn-primary btn-close" data-dismiss="modal"></button>
      </div>
      <div id="player2"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="testimonialModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="glyphicon glyphicon-remove btn btn-primary btn-close" data-dismiss="modal"></button>
      </div>
      <div id="player3"></div>
    </div>
  </div>
</div>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a class="card card-link" href="/promotions">
          <h1>Promotions &raquo;</h1>
          <p>Get great deals on expert service, rebates on tires and more every month. Check back often!</p>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="card card-secondary card-link" href="http://www.thegoodyearcreditcard.com/index.html?gyID=90931" target="_blank">
          <img src="/img/Homepage-Banners-v1.jpg"><br><br>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="card card-tertiary card-link" href="/blog">
          <h1>Blog &raquo;</h1>
          <p>Find news and information on tires, vehicle maintenance, Matthews Tire events and other helpful topics.</p>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section-inverse-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 center-block">
        {% include partners.html %}
      </div>
    </div>
  </div>
</section>
