{% if page.url != "/" %}
{% include top-nav.html %}
{% endif %}

<nav class="navbar navbar-main">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn btn-primary collapsed" data-toggle="collapse"
        data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        MENU
      </button>
      <a class="navbar-brand" href="/"><img src="/img/matthews-tire-logo.png" alt="Matthews Tire"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == "/" %}class="current" {% endif %}><a href="/">Home</a></li>
        <li class="dropdown">
          <a href="/service" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Service
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/service">General Service</a></li>
            <li><a href="/service/#windshield-replacement">Windshield Replacement</a></li>
            <li><a href="/service/#drive-train">Drive Train</a></li>
            <li><a href="/service/#brakes">Brakes</a></li>
            <li><a href="/service/#engine">Engine</a></li>
            <li><a href="/service/#exhaust">Exhaust</a></li>
            <li><a href="/service/#suspension">Suspension</a></li>
            <li><a href="/service/#electrical">Electrical</a></li>
            <li><a href="/service/#engine-cooling">Engine Cooling</a></li>
            <li><a href="/service/#air-conditioning-and-heating">AC/Heating</a></li>
          </ul>
        </li>
        <li {% if page.url contains "/tires" %}class="current" {% endif %}><a href="/tires">Find Tires</a></li>
        <li {% if page.url contains "/wheels" %}class="current" {% endif %}><a href="/wheels">Wheels</a></li>
        <li class="visible-xs visible-sm"><a href="/promotions">Promotions</a></li>
        <li {% if page.url contains "/commercial" %}class="current" {% endif %}><a href="/commercial">Commercial</a>
        </li>
        <li {% if page.url contains "/blog" %}class="current" {% endif %}><a href="/blog">News & Tips</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span
              class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/about">About Matthews Tire</a></li>
            <li><a href="/locations">Locations and Hours</a></li>
            <li><a href="/manager-bios">Manager Bios</a></li>
            <li><a href="/locations">Customer Reviews</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/stories">Matthews Tire Stories</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/we-keep-you-rolling">#WeKeepYouRolling</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>