<ul class="list-inline">
  <li><a href="http://ase.com"><img src="/img/ase.png"></a></li>
  <li><a href="http://carcare.org"><img src="/img/be-car-care-aware.png"></a></li>
  <li><a href="http://www.motorist.org/"><img src="/img/motorist-assurance-program.png"></a></li>
  <li><a href="http://tireindustry.org/"><img src="/img/tia.png"></a></li>
  <li><a href="http://www.goodyeartires.com/service-your-vehicle/"><img src="/img/tire-and-service-network.png"></a></li>
  <li><a href="http://www.bbb.org/wisconsin/business-reviews/auto-repair-and-service/matthews-tire-in-appleton-wi-27003661"><img src="/img/bbb.png"></a></li>
</ul>
