<div class="row">
  <div class="col-xs-6">
    <ul>
      <li>Continental</li>
      <li>General</li>
      <li>Goodyear</li>
      <li>Dunlop</li>
      <li>Kelly</li>
      <li>Michelin</li>
      <li>BFGoorich</li>
      <li>Uniroyal</li>
    </ul>
  </div>
  <div class="col-xs-6">
    <ul>
      <li>Bridgestone</li>
      <li>Firestone</li>
      <li>Cooper</li>
      <li>Yokohama</li>
      <li>Kumho</li>
      <li>Hankook</li>
      <li>Pirelli</li>
      <li>Toyo</li>
    </ul>
  </div>
</div>
